img {
    height: 400px;
    width: 400px;
    margin: 10px;
}
h3 {
    margin-top: 40px!important;
}
.logo {
    height: 60px!important;
    margin-top: 10px!important;
    margin-left: 10px!important;
    object-fit: cover;
    width: 170px;
}
body li {
    list-style-type: none;
}

.container {
    width: 70% !important;
}
.title-display {
    font-weight: 700;
}
button.remove-button {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #000000;
    padding: 7px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    margin-left: 150px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-right: auto;
    padding-bottom: -80px;

}

.bi-trash {
    font-size: 16px;
    margin: 0 !important;
}

li button {
    text-align: right;
    height: 40px;
    display: block;
    margin-right: 20px;

}

button.remove-button:hover {
    -moz-box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: -8px 1px 5px 9px 8px #ccc;
    transition: box-shadow 0.3s, transform 0.3s;
    border: none;
    color: #fff;
}

.payButton {
    display: none;
}

.red {
    color: #ff0000;
    margin-top: 2px;
}

button.remove-button:hover {
    background-color: #909090;
}


.calculated {
    display: none;
}
.calculator {
    flex-wrap: wrap;
}

.form-check-input[type=radio] {
    border: 1px solid #ccc !important;
}

.form-check-label {
    margin: 4px 0px 0px 0px !important;
}
.price-display {
    display: block;
    margin-left: 170px;
    margin-top: -20px;
    color: #ff0000;
}
@media screen and (max-width: 1318px) {
    .totalCheckOut {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 691px) {
    img {
        height: 200px;
        width: 200px;
        margin: 10px;
    }
    button.remove-button {
        margin-left: 50px;
    }
    .price-display {
        margin-left: 80px;
    }
    ul,li,ol {
        padding-left: 20px !important;
    }

    
}

@media screen and (max-width: 420px) {
    ul,li,ol {
        padding-left: 0px !important;
    }

}