h1 {
          text-align: center;
          /* Szöveg középre igazítása */
          margin: 0 auto;
          /* A szöveg középre igazítása a vízszintes tengelyen */
          position: absolute;
          /* Abszolút pozícionálás */
          top: 50%;
          /* Felső él pozícionálása a középvonal 50%-ára */
          left: 50%;
          /* Bal él pozícionálása a középvonal 50%-ára */
          transform: translate(-50%, -50%);
          /* Középre igazítás a tengelyek mentén */
}

a {
          font-size: 30px !important;
}