.muveletek {
    background-color: rgba(174, 174, 174, 0.98);
    border-radius: 20px;
    height: 400px;
    margin: 0px auto;
    padding: 30px 20px;
    margin-top: 50px;
}
body {
    color: #E6F4F1;
    padding: 20px;
    width: 350px;
    background-color: #0099E4;
    margin: 0 auto;
    overflow: hidden;
}
.score {
    color: yellow;
}
img {
    height: 50%;
    width: 80%;
    margin: 20px auto;
    display: block;
    object-fit: contain;
    mix-blend-mode:multiply;
}
input {
    margin: 0 auto;
    width: 80% !important;
}
.btn {
    display:block;
    margin: 20px auto;
}
.feedback {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    padding: 0.5em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
.cheat {
    display: none;
}