article {
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
    background-color: #06060552;
    border: 1px solid #000;
}
.paragraph {
    padding-left: 20px;
}

p:last-child{
    padding: 0;
}

.hirekkep {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.hirekkep img {
    border-radius: 30px;
}

p {
    font-size: 25px;
}

h3 {
    font-size: 40px;
}
.row {
    margin-bottom: 40px;
}

@media screen and (max-width: 755px) {
    .hirekkep img {
        width: 80%;
    }
    h3 {
        font-size: 26px;
    }
}
@media screen and (max-width: 500px) {
    .hirekkep img {
        width: 90%;
    }
}