form label, .form-text {
    color: #fff;
}
.btn {
    width: 10%;
    height: 40px;
    margin-top: 30px;
}
h3 {
    font-family: 'Bungee Spice', sans-serif
}
.no-shadow {
    text-shadow: none;
}
.form-check-input {
    margin-top: 0;
}
.invalid-feedback:last-of-type {
    margin: 0;
}
form .btn{
    margin-top: 4px;
    margin-bottom: 20px;
}
.col-12 {
    margin-top: 10px;
}
.col-12:last-of-type {
    margin-top: 4px;
    margin-bottom: 4px;
}
.btn-success {
    width: 100%;
}
.marginDisable p {
    margin-bottom: 8px!important;
}
@media screen and (max-width: 992px) {
    .btn {
        width: 30%;
    }
    .btn-success {
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    label {
        font-size: 23px;
    }
}
@media screen and (max-width: 363px) {
    .btn {
        width: 40%;
    }
    .btn-success {
        width: 100%;
    }
}