@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit:wght@400;500;700&display=swap');

h2, h3, h4 {
    font-family: 'Bungee Spice', sans-serif
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

.col-lg-12 {
    width: 75%;
    color: #fff;  
}

.onkentes,.col-lg-12:nth-child(5){
    width: 40%;
}

.col-lg-12:nth-child(6){
    width: 35%;
}

.container {
    width: 60%;
}

.tamogatok img:hover {
    filter: grayscale(0%);

}

.tamogatok img {
    filter: grayscale(100%);
}

.tamogatok img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.beszamolok{
    background-color:rgba(97, 170, 29, 0.25);   
    border-radius: 20px;
    border: 5px solid #000;
    padding: 5px;
    margin: 25px;
    text-align: center;
}

.beszamolok p {
    color: #fff;

}

footer {
    margin-top: 60px;
}

button {
    border: none!important;
    font-size: 22px!important;
}

.btn:hover {
    border: none;
    --bs-btn-active-border-color: none;
}

.modalbutton {
    background-color: rgb(61, 99, 23)!important;
}
@media screen and(max-width: 1450px ) {
    .col-lg-4 {
        width: 100%!important;
    }
}
@media screen and (max-width: 1400px) {
    h4 {
        font-size: 28px;
    }
    .form-label {
        font-size: 24px!important;
    }
}
@media screen and (max-width: 1100px) {
    .form-label {
        font-size: 22px!important;
    }
}
@media screen and (max-width: 992px) {

    body {
        text-align: center;
        display: flex;

    }
    .onkentes {
        width: 100%;
    }
    article h4 {
        margin: 0!important;

    }
    .aprosagok article {
        margin-left: 0!important    ;
    }
    .container article div{
        width: 100%!important;
        text-align: center!important;
    }
    .container {
        width: 100%!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .col-lg-12 {
        width: 100%!important;
    }
    .centered p {
        text-align: center!important;
    }
    footer {
        text-align: left;
    }
}
@media screen and (max-width: 800px) {
    .ms-5 {
        margin-left: 1rem!important;
    }
}
@media screen and (max-width: 526px) {
    .tamogatok img {
        width: 75px;
        display: block;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 24px;
    }
    .ms-5 {
        margin-left: 8px !important;
    }
}
@media screen and (max-width: 400px) {
    .tamogatok img {
        width: 50px;
        display: block;
    }
}