@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
img,.sapka,.ajandek,.bomba {
    height: 50px;
    width: 60px !important;
    object-fit: contain;
}
body {
    font-family: "Roboto", sans-serif;
    padding: 20px;
}
.pictures {
    padding: 20px 0px;
    border: 2px solid #000;
    justify-content:space-around;
}
.d-block, .time, .game-area-p {
    font-size: 20px;
    font-weight: 500;
}
h2 {
    color: #ff0000;

}

.time {
    font-size: 40px;
    margin-bottom: 0px !important;
}
.container-fluid {
    width: 40%;
}
.game-area {
    background-image: url(../kepkeresoimages/hidden-obj-bg.png);
    min-height: 1200px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.game-area img {
    position: absolute;
}
.game-area div {
    height: 50px;
    position: relative;
}
.sapka {
    background-image: url(obj-1.png);
    top: 250px !important;
    left: 100px;
    transform: rotate(25deg);
}
.csillag {
    top: 30px;
    left: 80%;
    transform: rotate(30deg);
}
.bomba {
    top: 194px;
    left: 435px;
    transform: rotate(-30deg);
}
.ajandek {
    top: 600px;
    left: 400px;
}
.hopehely {
    right: 180px;
    top: 700px;
}